:root {
  --dark-pink: #d35478dc;
  --light-pink: #ea618f;
  --yellow: #f3d41c;
  --white: #fff;
  --map-color: #b14667;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: var(--light-pink);
  color: var(--white);
}

.icon-white {
  font-size: 16px;
  padding-right: 8px;
}

.nav-link {
  font-size: 16px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
