:root{
  --dark-pink: #d35478dc;
  --light-pink: #EA618F;
  --yellow: #F3D41C;
  --white: #fff
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: var(--light-pink);
  color: var(--white);
}
.icon-white {
  font-size: 16px;
  padding-right: 8px;
}
.nav-link{
  font-size: 16px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
